<%= form_for @pin do |f| %>
  <div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.label :asset %>
      <%= f.file_field :asset %>
    </div>
  </div>

  <% if @pin.asset? %>
    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
        <%= image_tag(@pin.asset_url, class:"img-responsive") %>
        <%= link_to asset_pin_path(@pin), method: :put do %>
          Delete image <span class="glyphicon glyphicon-trash">
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.submit "Save", class: "btn btn-primary form-control" %>
    </div>
  </div>
<% end %>
